
.page-content-div{
    text-align:center;
    border-radius: 2px;
    /* border-style: dotted; just to see the container div */
    width:50%;
    margin-left:400px;
}
h1{
    font-family: fantasy;
    font-weight: lighter;
    margin-top: 50px;
    text-align: justify;
    position:relative;
    left:0px;
}
.exp-text{
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-variant: small-caps;
    font-weight: lighter;
    position:relative;
    left:0px;
    top:20px;
    text-align: left;
}
.logo-name-contactLink{
    display:inline-block;
    padding: 2px;
    width:50%;
    margin-top: 30px;
    margin-right: 400px;
    background-color: snow; /*only for clarity*/
}
.name,.logo, .contactPage{
    float:left;
    padding: 5px;
}
.name, .contactPage {
    margin-top: 15px;
}

.course-image{
    width:100%;
    height: 100px;
    position:relative;
    left: 0px;
    top:50px;
}
.body-text{
    text-align: left;
    background-color: snow; /*only for testing*/
    width:100%;
    overflow-wrap: break-word; /* ensure long words fit in the div*/
    display: block;
    margin-left:0px;
    margin-top:350px;
}
 /*target h1 in the div using a specifier to give it a top margin*/

